Django==3.1.12
django-crispy-forms==1.9.0
Pillow==8.2.0
six==1.14.0
pytest==5.4.1
pytest-django==3.9.0
dj-database-url==0.3.0
dj-static==0.0.6
gunicorn==20.0.4
Unipath==1.0
python-decouple==3
Markdown==2.6.6
bleach==3.3.0
whitenoise==5.0.1
python-dotenv==0.12.0