    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <header class="site-navbar" role="banner">
        <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
            <div class="container">
              <div class="navbar-header">
                <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="{% url 'shop:shop_index' %}">Glamarance Hair</a>
              </div>
              <div class="collapse navbar-collapse" id="custom-collapse">
                <ul class="nav navbar-nav navbar-right">
                  <li><a href="{% url 'shop:shop_index' %}">Home</a></li>
                  <li><a href="{% url 'shop:about' %}">About</a></li>
                  <li><a href="{% url 'shop:contact_us' %}">Contact</a></li>
                  <li class="dropdown"><a class="dropdown-toggle" href="{% url 'shop:product_list' %}" data-toggle="dropdown">Shop</a>
                    <ul class="dropdown-menu" role="menu">
                      <li class="dropdown"><a href="{% url 'shop:product_list' %}">Products</a>
                      </li>
                      <li><a href="{% url 'shop:categories' %}">Categories</a></li>
                    </ul>
                  </li>
                  <li>
                    <a href="{% url 'cart:cart_detail' %}" class="site-cart">
                        <span class="fa fa-shopping-cart"></span>
                        <span class="count">
                        {% with total_items=cart|length %}
                            {% if cart|length > 0 %}
                                {{ total_items }}
                            {% else %}
                                0
                            {% endif %}
                        {% endwith %}
                        </span>
                    </a>
                </li>
                </ul>
              </div>
            </div>
          </nav>
    </header>
    <!-- <nav class="navbar navbar-custom navbar-fixed-top navbar-transparent" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#custom-collapse"><span class="sr-only">Toggle navigation</span><span class="icon-bar"></span><span class="icon-bar"></span><span class="icon-bar"></span></button><a class="navbar-brand" href="index.html">Titan</a>
          </div>
          <div class="collapse navbar-collapse" id="custom-collapse">
            <ul class="nav navbar-nav navbar-right">
              <li><a href="{% url 'shop:shop_index' %}">Home</a></li>
              <li><a href="{% url 'shop:about' %}">About</a></li>
              <li><a href="{% url 'shop:contact_us' %}">Contact</a></li>
              <li class="dropdown"><a class="dropdown-toggle" href="{% url 'shop:product_list' %}" data-toggle="dropdown">Shop</a>
                <ul class="dropdown-menu" role="menu">
                  <li class="dropdown"><a class="dropdown-toggle" href="#" data-toggle="dropdown">Product</a>
                    <ul class="dropdown-menu">
                      <li><a href="shop_product_col_3.html">3 columns</a></li>
                      <li><a href="shop_product_col_4.html">4 columns</a></li>
                    </ul>
                  </li>
                  <li><a href="shop_single_product.html">Single Product</a></li>
                  <li><a href="shop_checkout.html">Checkout</a></li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
      </nav> -->