{% extends "shop/base/prod_base.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% load crispy_forms_tags %}
{% block inner_page %}
      
<section class="module" >
    <div class="container">
      <div class="row">
        <div class="col-sm-6 mb-sm-40"><a class="gallery" href="#"><img src="{{ product.image.url }}" alt="Single Product Image"/></a>
        </div>
        <div class="col-sm-6">
          <div class="row">
            <div class="col-sm-12">
              <h1 class="product-title font-alt">{{product.name}}</h1>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-sm-12">
              <div class="price font-alt"><span class="amount">SEK</span></div>
            </div>
          </div>
          <div class="row mb-20">
            <div class="col-sm-12">
              <div class="description">
                <h3>{{ product.description|linebreaks }}</h3>
              </div>
            </div>
          </div>
          <div class="row mb-20">
            <form action="{% url 'cart:cart_add' product.id %}" method="post">
              {% csrf_token %}
            
              {{cart_product_form|crispy}}
                
              <input type="submit" class="btn btn-d btn-round" value="Add to cart">
            </form>
          </div>
          <div class="row mb-20">
            <div class="col-sm-12">
              <div class="product_meta">Category:{{product.category.name}}
              </div>
            </div>
          </div>
        </div>
    </div>
      
  </section>

{% endblock %}

