{% extends "shop/base/base2.html" %}
{% load django_bootstrap5 %}
{% load static %}
{% block content %}

<section class="module">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-sm-offset-3">
        <h2 class="module-title font-alt">Exclusive products</h2>
        <div class="module-subtitle font-serif"></div>
      </div>
    </div>
    <div class="row">
      <div class="owl-carousel text-center" data-items="5" data-pagination="false" data-navigation="false">
        {% for product in products %}
        <div class="owl-item">
          <div class="col-sm-12">
            <div class="ex-product"><a href="{{ product.get_absolute_url }}"><img src="{{ product.image.url }}" alt="{{ product.name }}"/></a>
              <h4 class="shop-item-title font-alt"><a href="{{ product.get_absolute_url }}">{{ product.name }}</a></h4>${{ product.price }}
            </div>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</section>

{% endblock %}

